/* ------------------------------ */
/* BASIC SETUP */
/* ------------------------------ */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #fff;
	color: #555;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}

.clearfix {zoom:1;}
.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

/* ------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------ */

.row {
	max-width: 1140px;
	margin: 0 auto;
}

section {
	padding: 80px 10px;
}

/* ------- HEADINGS --------*/

h1,
h2,
h3 {
	font-weight: 300;
	text-transform: uppercase;
}

h1 {
	color: #fff;
	font-size: 400%;
	word-spacing: 4px;
	letter-spacing: 1px;
	margin-top: 0;
	margin-bottom: 20px;
}

h2 {
	font-size: 180%;
	word-spacing: 2px;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 50px;
}

h2:after {
	display: block;
	height: 2px;
	background-color: #EF4836;
	content: " ";
	width: 50px;
	margin: 0 auto;
	margin-top: 20px;
}

h3 {
	font-size: 110%;
	margin-bottom: 15px;
	text-align: center;
}

h3:after {
	display: block;
	height: 1px;
	background-color: #EF4836;
	content: " ";
	width: 20px;
	margin: 0 auto;
	margin-top: 10px;
}

/* ------- PARAGRAPHS --------*/

.box p {
	font-size: 90%;
	line-height: 145%;
}

/* ------- BUTTONS --------*/
.btn:link,
.btn:visited,
input[type=submit] {
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 3px;
	-webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
	background-color: #EF4836;
	color: #fff;
	border: 1px solid #EF4836;
}

.btn-ghost:link,
.btn-ghost:visited {
	border: 1px solid #EF4836;
	color: #EF4836;
	margin-right: 16px;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
	background-color: #ee3a26;
}

.btn-full:active,
.btn-full:hover {
	border: 1px solid #ee3a26;
}

.btn-ghost:active,
.btn-ghost:hover {
	border: 1px solid #ee3a26;
	color: #fff;
}

/* ------------------------------ */
/* HEADER */
/* ------------------------------ */

header {
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/hero.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/hero.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
}


.hero-text-box {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 70%;
  	/* height: 40%; */
  	text-align: center;
}

.hero-text-box p {
	margin-bottom: 30px;
	color: #fff;

}

.main-nav {
	text-align: center;
	list-style: none;
	margin-top: 20px;
}

.main-nav li {
	display: inline-block;
	margin-left: 30px;
}

.main-nav li a:link,
.main-nav li a:visited {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 80%; 
	border-bottom: 2px solid transparent;
	-webkit-transition: border-bottom 0.2s;
	transition: border-bottom 0.2s;
	padding: 7px 0;
}

.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 2px solid #EF4836;
}

/* ------------------------------ */
/* ABOUT */
/* ------------------------------ */

.chef {
	width: 100%;
	border-radius: 4px;
}

/* ------------------------------ */
/* MENU */
/* ------------------------------ */

.section-menu {
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/menu-background.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/menu-background.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

}

.section-menu h2 {
	color: #fff;
}

.menu-item {
	color: #fff;
	margin-bottom: 20px;
	position: relative;
}

.menu-item span {
	position: absolute;
	top: 35px;
	right: 90px;
}

.menu-item img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 25px;
}

/* ------------------------------ */
/* TESTIMONIALS */
/* ------------------------------ */

.section-testimonials {
	background-color: #f4f4f4;
}

blockquote {
	padding: 2%;
	font-style: italic;
	line-height: 145%;
	margin-top: 37px;
	position: relative;
}

blockquote:before {
	content: "\201c";
	font-size: 500%;
	display: block;
	position: absolute;
	top: -4px;
	left: -4px;
}

cite {
	font-size: 90%;
	display: block;
	margin-top: 20px;
}

cite img {
	height: 80px;
	border-radius: 50%;
	margin-right: 10px;
	vertical-align: middle;
}

/* ------------------------------ */
/* GALLERY */
/* ------------------------------ */

.section-gallery {
	padding: 0;
}

.gallery {
	list-style: none;
	width: 100%;
}

.gallery li {
	display: block;
	float: left;
	width: 25%;
}

.photo {
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #000;
}

.photo img {
	width: 100%;
	height: auto;
	opacity: 0.7;
	-webkit-transform: scale(1.15);
	        transform: scale(1.15);
	-webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
	transition: opacity 0.6s, -webkit-transform 0.6s;
	transition: transform 0.6s, opacity 0.6s;
	transition: transform 0.6s, opacity 0.6s, -webkit-transform 0.6s;
}

.photo img:hover {
	opacity: 1;
	-webkit-transform: scale(1.04);
	        transform: scale(1.04);
}

/* ------------------------------ */
/* RESERVATION FORM */
/* ------------------------------ */

input[type=text],
input[type=email],
textarea {
	display: block;
	width: 80%;
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	font-size: 90%;
	border-bottom: 2px solid #c9c9c9;
	-webkit-transition: border 0.3s;
	transition: border 0.3s;
	color: #555;
	background-color: #f4f4f4;
}
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
	border-bottom: 2px solid #EF4836;
}

input[type=submit] {
	margin-left: 22%;
}

textarea {
	height: 120px;
	margin-bottom: 25px;
}

*:focus {outline: none;}

.hours {
	width: 80%;
	margin-left: 10%;
	letter-spacing: 1px;
	word-spacing: 2px;
}

.hours ul {
	list-style: none;
	width: 100%;
	font-size: 80%;
}

.hours ul li {
	margin-bottom: 20px;
	margin-left: 45px;
}

/* ------------------------------ */
/* CONTACT */
/* ------------------------------ */

.box-map {
	width: 100%;
	height: 550px;
	position: relative;
}

.map {
	width: 100%;
	height: 550px;
	position: relative;
	z-index: 0;
}

.contact-box {
	position: absolute;
	width: 45%;
	top: 95px;
	right: 35px;
	background-color: rgba(255, 255, 255, 0.8);	
	z-index: 10;
	height: 350px;
	padding: 40px;
}	

.contact {
	width: 100%;
	margin: 0 auto;
}

.icon {
	display: inline-block;
	width: 30px;
	text-align: center;
	font-size: 120%;
	margin-right: 5px;
	color: #EF4836;

	line-height: 120%;
	vertical-align: middle;
	margin-top: -5px;
}

.contact-info {
	margin-bottom: 15px;
}

/* ------------------------------ */
/* FOOTER */
/* ------------------------------ */

footer {
	background-color: #22313F;
	padding: 30px 25px 15px 25px;
	font-size: 85%;
}

.footer-nav {
	list-style: none;
	float: left;
}

.social-links {
	float: right;
}

.social-links li:last-child {
	margin-right: 0;
}

.footer-nav li,
.social-links li {
	display: inline-block;
	margin-right: 15px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
	text-decoration: none;
	color: #BDC3C7;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.social-links li a:link,
.social-links li a:visited {
	font-size: 120%;
}

.footer-nav li a:hover,
.footer-nav li a:active {
	color: #EF4836;
}

.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-linkedin {
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.fa-facebook:hover {
	color: #3b5998;
}

.fa-instagram:hover {
	color: #517fa4;
}

.fa-twitter:hover {
	color: #00aced;
}

.fa-linkedin:hover {
	color: #007bb5;
}

footer p {
	color: #BDC3C7;
	margin-top: 15px;
	text-align: center;
}

.author:link,
.author:visited {
	text-decoration: none;
	color: #BDC3C7;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.author:hover,
.author:active {
	text-decoration: none;
	color: #ECF0F1;
}